<div class="row-fluid">
  <div class="span4 well">
    <%= simple_form_for @game, html: { class: "form-horizontal" } do |f| %>
      <fieldset>
        <legend>
          <h3>...:::Game:::...</h3>
        </legend>
        <div class="form-group">
          <%= f.input :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :requirements, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.select :genre, options_for_select(%w[action fps shooter rpg mmo strategy slasher simulation sport]), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :pegi, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :release_date, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :producent, class: "form-control" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

