<div class="main">

  <p> Title: <%= @game.title %> </p><br>
  <p> Producent: <%= @game.producent %> </p><br>
  <p> Release Date: <%= @game.release_date %> </p><br>
  <p> Description: <%= @game.description %> </p><br>
  <p> Requirements: <%= @game.requirements %></p><br>
  <p> Genre: <%= @game.genre %> </p><br>
  <p> PEGI: <%= @game.PEGI %> </p><br><br>

      <%= link_to 'Edit', edit_game_path(@game) %>
      <%= link_to 'Back', games_path %>


<h3>Recenzje </h3>

    <% @game.reviews.each do |review| %>

        <p><%= link_to review.title, review %></p><br>

    <% end %>

</div>

