<%= simple_form_for [@review.game, @review] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: "Title: " %>
    <%= f.input :description, label: "Description: " %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

