<%= content_for :title, "List of reviews" %>
<h1>List of reviews</h1>

<table class="table">
  <thead>
    <tr>
      <th>Game</th>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Number of comments</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.game_title %></td>
        <td><%= link_to review.title_capital, game_review_path(review.game, review) %></td>
        <td><%= review.full_description %></td>
        <td><%= review.nick%></td>
        <td><%= review.comments.size%></td>
      </tr>
    <% end %>
  </tbody>
</table>
