<div class="content-center">
  <h3><strong><%= @review.title_capital %></strong></h3>
  <p><%= @review.full_description %></p>
  <p>by <%= @review.nick %></p>

  <br />

  <h4>List of comments</h4>
  <% @review.comments do |comment| %>
    <p><%= comment.text %></p>
    <p>by <%=comment.user.nickname %>
  <% end %>
  <div class="links">
    <div class="btn btn-info">
      <%= link_to 'Edit', edit_review_path(@review) %>
    </div>
    <div class="btn btn-info">
      <%= link_to 'Go back', reviews_path %>
    </div>
</div>
